@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 275px; 
  padding: 20px;
  border: 2px solid #4472C4; 
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.header {
  background-color: #4472C4;
  color: white;
  text-align: center;
  padding: 10px;
  margin: -20px -20px 20px -20px;
  font-weight: 300;
  font-size: 1.2em;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: black;
  width: 100%;
}

.input, .select {
  width: calc(100%);
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #4472C4;
  border-radius: 5px;
}

.selectWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #4472C4;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  color: black;
  padding-right: 35px;
}

.selectWrapper::after {
  content: '▼';
  font-size: 18px;
  color: white;
  background-color: #4472C4;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  right: 5px;
  pointer-events: none;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.voltarButton {
  background-color: #FFC107;
  color: #fff;
  border: none;
  padding: 5px 30px;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  height: 25px;
  position: absolute;
  bottom: 20px;
  width: auto;
}

.gravarButton {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  margin-left: 150px;
  height: 35px;
}


